<%- include('./common/header') %>
<div class="gstore-breadcrumb position-relative z-1 overflow-hidden mt--50">
    <img src="front/assets/img/shapes/bg-shape-6.png" alt="bg-shape" class="position-absolute start-0 z--1 w-100 bg-shape">
    <img src="front/assets/img/shapes/pata-xs.svg" alt="pata" class="position-absolute pata-xs z--1 vector-shape">
    <img src="front/assets/img/shapes/onion.png" alt="onion" class="position-absolute z--1 onion start-0 top-0 vector-shape">
    <img src="front/assets/img/shapes/frame-circle.svg" alt="frame circle" class="position-absolute z--1 frame-circle vector-shape">
    <img src="front/assets/img/shapes/leaf.svg" alt="leaf" class="position-absolute z--1 leaf vector-shape">
    <img src="front/assets/img/shapes/garlic-white.png" alt="garlic" class="position-absolute z--1 garlic vector-shape">
    <img src="front/assets/img/shapes/roll-1.png" alt="roll" class="position-absolute z--1 roll vector-shape">
    <img src="front/assets/img/shapes/roll-2.png" alt="roll" class="position-absolute z--1 roll-2 vector-shape">
    <img src="front/assets/img/shapes/pata-xs.svg" alt="roll" class="position-absolute z--1 pata-xs-2 vector-shape">
    <img src="front/assets/img/shapes/tomato-half.svg" alt="tomato" class="position-absolute z--1 tomato-half vector-shape">
    <img src="front/assets/img/shapes/tomato-slice.svg" alt="tomato" class="position-absolute z--1 tomato-slice vector-shape">
    <img src="front/assets/img/shapes/cauliflower.png" alt="tomato" class="position-absolute z--1 cauliflower vector-shape">
    <img src="front/assets/img/shapes/leaf-gray.png" alt="tomato" class="position-absolute z--1 leaf-gray vector-shape">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="mb-2 text-center">Shopping Cart</h2>
                    <nav>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item fw-bold" aria-current="page"><a href="/">Home</a></li>                         
                            <li class="breadcrumb-item fw-bold" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="cart-section ptb-120">
    <div class="container">
        <div class="select-all d-flex align-items-center justify-content-between bg-white rounded p-4">
            <div class="d-inline-flex gap-2 align-items-center">
                <div class="theme-checkbox">
                    <input type="checkbox" id="select-all">
                    <span class="checkbox-field"><i class="fa-solid fa-check"></i></span>
                </div>
                <label for="select-all">Select All(03 ITEMS)</label>
            </div>
        </div>
        <div class="rounded-2 overflow-hidden">
            <table class="cart-table w-100 mt-4 bg-white">
                <thead>
                  <th>Image</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Price</th>
                  <th>Action</th>
                </thead>
                
                <tbody>
                  <% cartData.forEach(item => { %>
                    <tr>
                      <td>
                        <img src="/<%= item.product_image %>" alt="product-thumb" class="img-fluid">
                      </td>
                      <td class="text-start product-title">
                        <h6 class="mb-0"><%= item.product_name %><%= item.pack_size %><%= item.unit %></h6>
                      </td>
                      <td>
                        <div class="product-qty d-inline-flex align-items-center">
                            <button class="decrease" data-action="decrease">-</button>
                            <input type="text" class="quantity" value="<%= item.quantity %>" readonly>
                            <input type="hidden" name="product_id" value="<%= item.product_id %>">
                            <input type="hidden" name="variant_id" value="<%= item.variant_id %>">
                            <button class="increase" data-action="increase">+</button>
                        </div>
                    </td>
                    
                      <td>
                        <span class="text-dark fw-bold me-2 d-lg-none">Unit Price:</span>
                        <span class="text-dark fw-bold">₹<%= item.unit_price %></span>
                      </td>
                      <td>
                        <span class="text-dark fw-bold me-2 d-lg-none">Total Price:</span>
                        <span class="text-dark fw-bold">₹<%= item.total_price %></span>
                      </td>
                      <td>
                        <form action="/delete_cart/<%=item.cart_id%>" method="post">
                        <button type="submit" class="text-gray"><span class="me-2"><i class="fa-solid fa-trash-can"></i></span></button>
                        </form>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
              
        </div>
        <div class="row g-4">
            <div class="col-xl-7">
                <div class="voucher-box py-7 px-5 position-relative z-1 overflow-hidden bg-white rounded mt-4">
                    <img src="front/assets/img/shapes/circle-half.png" alt="circle shape" class="position-absolute end-0 top-0 z--1">
                    <h4 class="mb-3">What would you like to do next?</h4>
                    <p class="mb-7">Choose if you have a discount code or reward points you want to use<br> or would like to estimate your delivery cost.</p>
                    <form class="d-flex align-items-center" action="#">
                        <input type="text" placeholder="Enter Your Voucher Cod" class="theme-input w-100">
                        <button type="submit" class="btn btn-secondary flex-shrink-0">Apply Voucher</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="cart-summery bg-white rounded-2 pt-4 pb-6 px-5 mt-4">
                    <table class="w-100">
                        <tr>
                            <td class="py-3">
                                <h5 class="mb-0 fw-medium">Subtotal</h5>
                            </td>
                            <td class="py-3">
                                <h5 class="mb-0 fw-semibold text-end">₹<%=totalCartAmount%></h5>
                            </td>
                        </tr>
                        <tr class="border-top">
                            <td class="py-3">
                                <h5 class="mb-0">Total</h5>
                            </td>
                            <td class="text-end py-3">
                                <h5 class="mb-0">₹<%=totalCartAmount%></h5>
                            </td>
                        </tr>
                    </table>
                    <p class="mb-5 mt-2">Shipping options will be updated during checkout.</p>
                    <div class="btns-group d-flex gap-3">
                        <button type="submit" class="btn btn-primary btn-md rounded-1">Confirm Order</button>
                        <button type="button" class="btn btn-outline-secondary border-secondary btn-md rounded-1">Continue Shopping</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('./common/footer') %>