<%- include('./common/header') %>
  <!--breadcrumb section start-->
  <div class="gstore-breadcrumb position-relative z-1 overflow-hidden mt--50">
    <img src="front/assets/img/shapes/bg-shape-6.png" alt="bg-shape" class="position-absolute start-0 z--1 w-100 bg-shape">
    <img src="front/assets/img/shapes/pata-xs.svg" alt="pata" class="position-absolute pata-xs z--1 vector-shape">
    <img src="front/assets/img/shapes/onion.png" alt="onion" class="position-absolute z--1 onion start-0 top-0 vector-shape">
    <img src="front/assets/img/shapes/frame-circle.svg" alt="frame circle" class="position-absolute z--1 frame-circle vector-shape">
    <img src="front/assets/img/shapes/leaf.svg" alt="leaf" class="position-absolute z--1 leaf vector-shape">
    <img src="front/assets/img/shapes/garlic-white.png" alt="garlic" class="position-absolute z--1 garlic vector-shape">
    <img src="front/assets/img/shapes/roll-1.png" alt="roll" class="position-absolute z--1 roll vector-shape">
    <img src="front/assets/img/shapes/roll-2.png" alt="roll" class="position-absolute z--1 roll-2 vector-shape">
    <img src="front/assets/img/shapes/pata-xs.svg" alt="roll" class="position-absolute z--1 pata-xs-2 vector-shape">
    <img src="front/assets/img/shapes/tomato-half.svg" alt="tomato" class="position-absolute z--1 tomato-half vector-shape">
    <img src="front/assets/img/shapes/tomato-slice.svg" alt="tomato" class="position-absolute z--1 tomato-slice vector-shape">
    <img src="front/assets/img/shapes/cauliflower.png" alt="tomato" class="position-absolute z--1 cauliflower vector-shape">
    <img src="front/assets/img/shapes/leaf-gray.png" alt="tomato" class="position-absolute z--1 leaf-gray vector-shape">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="mb-2 text-center">Check Out Page</h2>
                    <nav>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item fw-bold" aria-current="page"><a href="/">Home</a></li>                     
                            <li class="breadcrumb-item fw-bold" aria-current="page">Check Out</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb section end-->

<!--checkout section start-->
<div class="checkout-section ptb-120">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-8">
                <div class="checkout-steps">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-5">Shipment Address</h4>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#addAddressModal" class="fw-semibold"><i class="fas fa-plus me-1"></i> Add Address</a>
                    </div>
                    <div class="row">
                        <% if (address_data.length > 0) { %>
                            <% address_data.forEach((address, index) => { %>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="tt-address-content">
                                        <input 
                                            type="radio" 
                                            class="tt-custom-radio" 
                                            name="tt-radio" 
                                            id="tt-radio-<%= index + 1 %>" 
                                            <%= index === 0 ? "checked" : "" %>
                                        >
                                        <label for="tt-radio-<%= index + 1 %>" class="tt-address-info bg-white rounded p-4 position-relative">
                                            <strong><%= address.district %></strong>
                                            <address class="fs-sm mb-0">
                                                <%= address.street_address %> <br>
                                                <%= address.state %>(<%= address.Pincode %>)
                                            </address>
                                            <a href="/update_address/<%=address._id%>" class="tt-edit-address checkout-radio-link position-absolute">Edit</a>
                                        </label>
                                    </div>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <p>There is no address</p>
                        <% } %>
                    </div>
                    <h4 class="mb-5 mt-8">Your Products</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-light">
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Prodcut_data.forEach(item => { %>
                                  <tr>
                                    <td>
                                      <img src="/<%= item.product_image %>" alt="product-thumb" class="img-fluid">
                                    </td>
                                    <td class="text-start product-title">
                                      <h6 class="mb-0"><%= item.product_name %><%= item.pack_size %><%= item.unit %></h6>
                                    </td>
                                  
                                  
                                    <td>
                                      <span class="text-dark fw-bold me-2 d-lg-none">Unit Price:</span>
                                      <span class="text-dark fw-bold">₹<%= item.unit_price %></span>
                                    </td>
                                    <td>
                                      <span class="text-dark fw-bold me-2 d-lg-none">Total Price:</span>
                                      <span class="text-dark fw-bold">₹<%= item.total_price %></span>
                                    </td>
                                    <td>
                                      <form action="/delete_cart/<%=item.cart_id%>" method="post">
                                      <button type="submit" class="text-gray"><span class="me-2"><i class="fa-solid fa-trash-can"></i></span></button>
                                      </form>
                                    </td>
                                  </tr>
                                <% }); %>
                              </tbody>
                        </table>
                    </div>
                    
                    


               




            </div>
            <div class="col-xl-4">
                <div class="checkout-sidebar">
                    <div class="sidebar-widget checkout-sidebar py-6 px-4 bg-white rounded-2">
                        <div class="widget-title d-flex">
                            <h5 class="mb-0 flex-shrink-0">Order Summery</h5>
                            <span class="hr-line w-100 position-relative d-block align-self-end ms-1"></span>
                        </div>
                        <table class="sidebar-table w-100 mt-5">
                            <tr>
                                <td>Items(2):</td>
                                <td class="text-end"><%=cart_total%></td>
                            </tr>
                            <tr>
                                <td>Shipping & handling:</td>
                                <td class="text-end">$3.99</td>
                            </tr>
                            <tr>
                                <td>Before tax:</td>
                                <td class="text-end">$336,04</td>
                            </tr>
                        </table>
                        <span class="sidebar-spacer d-block my-4 opacity-50"></span>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0 fs-md">Tax collected</h6>
                            <h6 class="mb-0 fs-md">$424.00</h6>
                        </div>
                        <button type="submit" class="btn btn-primary btn-md rounded mt-6 w-100">Place Order</button>
                        <p class="mt-3 mb-0 fs-xs">By Placing your order your agree to our company <a href="#">Privacy-policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 <!--add address modal start-->
                <!-- Modal -->
                <div class="modal fade" id="addAddressModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                                <div class="gstore-product-quick-view bg-white rounded-3 py-6 px-4">
                                    <h2 class="modal-title fs-5 mb-3">Add New Address</h2>
                                    <div class="row align-items-center g-4 mt-3">
                                        <form action="/add_address" method="post">
                                            <input type="hidden" name="user_id" value="<%=userId%>">
                                            <div class="row g-4">
                                                <div class="col-sm-6">
                                                    <div class="label-input-field">
                                                        <label> Name</label>
                                                        <input type="text" placeholder="Enter Your  Name" name="name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="label-input-field">
                                                        <label>Land Mark</label>
                                                        <input type="text" placeholder="Enter Your Landmark"name="landmark">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="label-input-field">
                                                        <label>Street Address</label>
                                                        <input type="text" placeholder="Enter Your Street Address" name="street_address">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="label-input-field">
                                                        <label>Mobile</label>
                                                        <input type="tel" placeholder="Phone Number" name="phone">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="label-input-field">
                                                        <label>Email</label>
                                                        <input type="email" placeholder="Your Email" name="email">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="label-input-field">
                                                        <label>District</label>
                                                        <input type="text" placeholder="Enter Your District" name="district">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="label-input-field">
                                                        <label>State</label>
                                                        <input type="text" placeholder="Enter Your State Name" name="state">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="label-input-field">
                                                        <label>Pin Code</label>
                                                        <input type="text" placeholder="Enter Your Pincode" name="Pincode">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-6 d-flex">
                                                <button type="submit" class="btn btn-secondary btn-md me-3">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--add address modal end-->
<!--checkout section end-->
<%- include('./common/footer') %>
