<%- include('./common/header') %>
<div class="gstore-breadcrumb position-relative z-1 overflow-hidden mt--50">
    <img src="front/assets/img/shapes/bg-shape-6.png" alt="bg-shape" class="position-absolute start-0 z--1 w-100 bg-shape">
    <img src="front/assets/img/shapes/pata-xs.svg" alt="pata" class="position-absolute pata-xs z--1 vector-shape">
    <img src="front/assets/img/shapes/onion.png" alt="onion" class="position-absolute z--1 onion start-0 top-0 vector-shape">
    <img src="front/assets/img/shapes/frame-circle.svg" alt="frame circle" class="position-absolute z--1 frame-circle vector-shape">
    <img src="front/assets/img/shapes/leaf.svg" alt="leaf" class="position-absolute z--1 leaf vector-shape">
    <img src="front/assets/img/shapes/garlic-white.png" alt="garlic" class="position-absolute z--1 garlic vector-shape">
    <img src="front/assets/img/shapes/roll-1.png" alt="roll" class="position-absolute z--1 roll vector-shape">
    <img src="front/assets/img/shapes/roll-2.png" alt="roll" class="position-absolute z--1 roll-2 vector-shape">
    <img src="front/assets/img/shapes/pata-xs.svg" alt="roll" class="position-absolute z--1 pata-xs-2 vector-shape">
    <img src="front/assets/img/shapes/tomato-half.svg" alt="tomato" class="position-absolute z--1 tomato-half vector-shape">
    <img src="front/assets/img/shapes/tomato-slice.svg" alt="tomato" class="position-absolute z--1 tomato-slice vector-shape">
    <img src="front/assets/img/shapes/cauliflower.png" alt="tomato" class="position-absolute z--1 cauliflower vector-shape">
    <img src="front/assets/img/shapes/leaf-gray.png" alt="tomato" class="position-absolute z--1 leaf-gray vector-shape">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="mb-2 text-center">Order Details</h2>
                    <nav>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item fw-bold" aria-current="page"><a href="/">Home</a></li>                         
                  
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="cart-section ptb-120">
    <div class="container">
      
        <div class="rounded-2 overflow-hidden">
            <table class="cart-table w-100 mt-4 bg-white">
                <thead>
                  <th>Image</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Price</th>
         
                </thead>
                
                <tbody>
                  <% order_details.forEach(item => { %>
                    <tr>
                      <td>
                        <img src="/<%= item.featureImg %>" alt="product-thumb" class="img-fluid" style="height:150px;">
                      </td>
                      <td class="text-start product-title">
                        <h6 class="mb-0"><%= item.product_name %><%= item.pack_size %><%= item.unit %></h6>
                      </td>
                      <td>
                        <div class="product-qty d-inline-flex align-items-center">
                         
                            <input type="text" class="quantity" value="<%= item.quantity %>" readonly>
                      
                        </div>
                    </td>
                    
                      <td>
                        <span class="text-dark fw-bold me-2 d-lg-none">Unit Price:</span>
                        <span class="text-dark fw-bold">₹<%= item.sell_price %></span>
                      </td>
                      <td>
                        <span class="text-dark fw-bold me-2 d-lg-none">Total Price:</span>
                        <span class="text-dark fw-bold">₹<%= item.sell_price*item.quantity %></span>
                      </td>
                   
                    </tr>
                  <% }); %>
                </tbody>
              </table>
              
        </div>
        
    </div>
</section>


<%- include('./common/footer') %>