<%- include('../common/header') %>
<div class="pc-container">
          <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                 
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h2 class="mb-0">View Varient</h2>
                    </div>
                  </div>
                  <% if (success_msg && success_msg.length > 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <%= success_msg %>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
            <h4 class="mt-0 header-title">View Varient</h4>
            <hr style="margin-bottom: 50px;background-color: darkgrey;">
            <div class="container mt-5">
                   
                            <hr style="margin-bottom: 50px;background-color: darkgrey;">
                            <div class="table-rep-plugin">
                              <div class="table-responsive b-0" data-pattern="priority-columns">
                                <table id="userTable" class="table  table-striped">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th data-priority="1">Product Name</th>
                                      <th data-priority="1">Unit</th>
                                      <th data-priority="1">PackSize</th>
                                      <th data-priority="1">Stock</th>
                                      <th data-priority="1">Sku</th>
                                      <th data-priority="1">Sell Price </th>
                                      <th data-priority="1">MRP </th>
                                      <th data-priority="6">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                        <% let a = 1; %> <!-- Initialize counter variable -->
                                        <% varient_data.forEach(function(data) { %>
                                          <tr>
                                            <td><%= a %></td> <!-- Display counter variable -->
                                            <td><%= data.product_id ? data.product_id.name : 'No Product' %></td> 
                                            <td><%= data.unit %></td>
                                            <td><%= data.pack_size %></td>
                                            <td><%= data.stock %></td>
                                            <td><%= data.sku %></td>
                                            <td><%= data.sell_price %></td>
                                            <td><%= data.mrp %></td>

                                            <td style="display:flex;margin-top: 2rem;">
                                        <form action="/auth/delete_varient/<%= data._id%>"method="post">
                                        <button type="submit"class="btn btn-danger me-4 ">delete</button>
                                        </form>
                                        <a href="/auth/update_varient/<%= data._id%>" class="btn btn-info">update</a>
                                            </td> 
                                          </tr>
                                          <% a++; %> <!-- Increment counter variable -->
                                        <% }); %>
                                      </tbody>
                                      
                                </table>
                              </div>
                            </div>   
                </div>
          </div>
        </div>
        <%- include('../common/footer')%> 